/*////// Main page footer /////////*/

.footer-page{
    position: relative;
    display: flex;
    width: 100%;
    min-width: 100%;
    /* bottom: 38px; */
    top:auto;
    z-index: 1000;

   
    min-height: 150px;   
    position: absolute;
    margin: auto 0 0 0;
    display: flex;
    width: 100%;
    min-width: 100%;
    /* bottom: 38px; */
    bottom: 0px !important;
    top:auto;
    z-index: 1000;
  }
  
    .telephone{
      width: 100%;
      min-width: 100%;
      color: #ffffff;
      font-family: "Playfair Display", serif;
      font-style: italic;
      font-weight: bold;
      font-variant-numeric: oldstyle-nums;
      font-size: 16px;
      letter-spacing: 1.2px;
      text-align: center;
      padding-left: 15px;
    }
  
    
  /*////// Main page footer end /////////*/