body {
  min-height: 100vh;
  height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

.menu-all{
  background-color: rgb(17, 17, 15, 0.95);
  box-shadow: -1px 11px 17px 8px rgba(0,0,0,0.9);
  -webkit-box-shadow: -1px 11px 17px 8px rgba(0,0,0,0.9);
  -moz-box-shadow: -1px 11px 17px 8px rgba(0,0,0,0.9);
  height: 75px;
  width: 100%;
}

/*////////////// Main styles /////////////*/

html, body {
    height: 100vh;
    min-height: 100vh;
    background: url(../images/Anna.png);
    background-repeat: no-repeat;
    background-attachment: fixed fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 35% 75%;
  }

.app{
    position: relative;
}

.content{
    margin: 0;
    padding: 0;
}

/*////////////// End of main styles /////////////*/

/*////////////// Logo styles /////////////*/

.full-logo-container{
    position: relative;
    height: 100%;
    display: flex;
    z-index: 1;
}

.full-logo{
    position: relative;
    margin-left: 55.5%;
    margin-right: auto;
    padding-top: 6.5%;
}

#logo-header{
    position: relative;
    display: flex;
    justify-content: center;
    color: #ffffff;
    margin-top: 20px;
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-weight:bold;
    font-size: 48px;
    text-align: center;
    vertical-align: top;
    letter-spacing: 3px;
    line-height: 100%;
    white-space: nowrap;
}

.social-media{
  display: flex;
  justify-content: center;
  -webkit-flex-direction: row;
  flex-direction: row;
  margin-top: 30px;
  margin-left: 20px;
}

.footer-social-media-pages{
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.social-media-footer{
  display: none;
}

.icon{
  width: 30px;
  height: auto;
  margin: 3px;
}

.icon-telegram{
  width: 34px;
  height: auto;
  margin: 1px -2px 4px 4px;
}

/*////////////// End of logo styles /////////////*/

/*////// Main page footer /////////*/

.footer-page{
  position: fixed;
  display: flex;
  width: 100%;
  min-width: 100%;
  bottom: 38px;
  top:auto;
  z-index: 1000;
}

  .telephone{
    width: 100%;
    min-width: 100%;
    color: #ffffff;
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-weight: bold;
    font-variant-numeric: oldstyle-nums;
    font-size: 16px;
    letter-spacing: 1.2px;
    text-align: center;
    padding-left: 15px;
  }

  
/*////// Main page footer end /////////*/


/*////////////// Adaptive version /////////////*/

@media screen and (max-width: 1000px) {

  .full-logo-img{
    max-width: 280px;
    padding-top: 10%;
  }
  #logo-header{
    font-size: 2em;
    margin-top: 20px;
    margin-left: 10px;
  }
  .social-media{
    margin-top: 20px;
    margin-left: 0px;
  }
}

@media screen and (max-width: 800px){
  html, body{
    height: 100vh;
    min-height: 100vh;
    background: url(../images/Anna-mobile.png);
    background-repeat: no-repeat;
    background-attachment: fixed fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .full-logo-container{
    min-width: 100%;
  }
  .full-logo{
    padding-top: 5%;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .full-logo-img{
    max-width: 100%;
    padding-top: 5%;
  }
  #logo-header{
    margin-left: 0px;
    font-size: 48px;
  }
  .social-media{
    margin-top: 30px;
  }
}

@media screen and (max-width: 640px){
  .full-logo-img{
    max-width: 280px;
    width: 280px;
    padding-top: 5%;
  }
  #logo-header{
    font-size: 2em;
    margin-top: 20px;
    margin-left: 0;
  }
  .social-media{
    margin-top: 20px;
    margin-left: 0px;
  }
}

/*////////////// End of Adaptive version /////////////*/



