body {
  /* min-height: 100vh;
  height: 100vh;  */
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  /* position: static; */
}
.menu-all{
  background-color: rgb(17, 17, 15, 0.95);
  box-shadow: -1px 11px 17px 8px rgba(17, 17, 15, 0.95);
  -webkit-box-shadow: -1px 11px 17px 8px rgba(17, 17, 15, 0.95);
  -moz-box-shadow: -1px 11px 17px 8px rgba(17, 17, 15, 0.95);
  height: 75px;
  width: 100%;
}

/*////////////// Main styles /////////////*/

html, body {
  width: 100%;
  min-width: 100%;
  /* height: 100vh;
  min-height: 100vh; */
  background: url(../images/Anna.png);
  background-repeat: no-repeat;
  background-attachment: fixed fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    /* background-position: 35% 75%; */
  }
.app{
    position: relative;
    min-height: 100vh;
}
.content{
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

/* .img{
  position: absolute;
  width: 100%;
  min-width: 100%;
  height: 100vh;
  min-height: 100vh;
  background: url(../images/Anna.png);
  background-repeat: no-repeat;
  background-attachment: local;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

/*////////////// End of main styles /////////////*/

/*////////////// Logo styles /////////////*/

.full-logo-container{
    position: relative;
    height: 100%;
    display: flex;
    z-index: 1;
}
.full-logo-img{
  margin-left: auto;
  margin-right: auto;
}
.full-logo{
    position: relative;
    min-width: 400px;
    margin-left: 48.5%;
    margin-right: auto;
    padding-top: 6.5%;
    margin-bottom: 10%;
}
#logo-header{
    position: relative;
    display: flex;
    justify-content: center;
    color: #ffffff;
    margin-top: 20px;
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-weight:bold;
    font-size: 48px;
    text-align: center;
    vertical-align: top;
    line-height: 100%;
    white-space: nowrap;
}
.social-media{
  display: flex;
  justify-content: center;
  -webkit-flex-direction: row;
  flex-direction: row;
  margin-top: 30px;
  margin-left: 20px;
}
.footer-social-media-pages{
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.social-media-footer{
  display: none;
}
.icon{
  width: 30px;
  height: auto;
  margin: 3px;
}
.icon-telegram{
  width: 34px;
  height: auto;
  margin: 1px -2px 4px 4px;
}
.icon:hover,.icon-telegram:hover{
  filter: invert(77%) sepia(51%) saturate(306%) hue-rotate(8deg) brightness(100%) contrast(87%);
}
.control, 
.control * {	
	box-sizing: content-box;
	letter-spacing: 0;
}
.control {
  position: absolute;
	border: 2px solid #ffffff;
	border-radius: 50%;
  margin: 170px auto auto 102%;
	padding: 28px;
  width: 25px;
	height: 20px;
	font-size: 0;
	white-space: nowrap;
	text-align: center;
	cursor: pointer;
}
.control,
.control .left,
.control .right,
.control:before {
	display: inline-block;
	vertical-align: middle;
	transition: border 0.2s, width 0.2s, height 0.2s, margin 0.2s;
}
.control:before {
	content: "";
  height: 20px;
}
.control.pause .left,
.control.pause .right {
	margin: 0;
  margin-top: -1px;
  border-left: 2.96px solid #ffffff;
	border-top: 0 solid transparent;
	border-bottom: 0 solid transparent;
  height: 22.992px;
}
.control.pause .left {
	border-right: 12.4px solid transparent;
}
.control.play .left {
  margin-left: 5.66666667px;
  margin-bottom: 90px;
  border-left: 16.496px solid #ffffff;
  border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right: 0px solid transparent;
  height: 1px;
}
.control.play .right {
	margin: 0;
  margin-left: -16px;
  margin-bottom: 90px;
  border-left: 16.496px solid #ffffff;
  border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	height: 0px;
}
.control:hover {
	border-color: var(--black-gold);
}
.control:hover .left,
.control:hover .right {
	border-left-color: var(--black-gold);
}

/*////////////// End of logo styles /////////////*/

/*////// Main page footer /////////*/

.footer-page{
  position: absolute;
  display: flex;
  width: 100%;
  min-width: 100%;
  margin: auto 0 0 0;
  /* bottom: 38px; */
  bottom: 0;
  top:auto;
  z-index: 1000;
  min-height: 50px;
}
  .telephone{
    width: 100%;
    min-width: 100%;
    color: #ffffff;
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-weight: bold;
    font-variant-numeric: oldstyle-nums;
    font-size: 16px;
    letter-spacing: 1.2px;
    text-align: center;
    padding-left: 15px;
    text-decoration: none;
  }

  .telephone:hover{
    color: var(--black-gold);
  }
  
/*////// Main page footer end /////////*/


/*////////////// Adaptive version /////////////*/

@media screen and (max-width: 1100px) {
  .full-logo{
    margin-left: 42.5%;
    margin-bottom: 14%;
  }
}

@media screen and (max-width: 1000px) {

  .full-logo{
    min-width: 320px;
    margin-bottom: 20%;
  }
  .control{
    margin: 145px auto auto 102%;
  }
  .full-logo-img{
    max-width: 280px;
    padding-top: 10%;
  }
  #logo-header{
    font-size: 2em;
    margin-top: 20px;
    margin-left: 10px;
  }
  .social-media{
    margin-top: 20px;
    margin-left: 0px;
  }
}

@media screen and (max-width: 800px){
  html, body{
    /* height: 100vh;
    min-height: 100vh; */
    /* height: 100%;
    min-height: 100%; */
    background: url(../images/Anna-mobile.png);
    background-repeat: no-repeat;
    background-attachment: fixed fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .full-logo-container{
    min-width: 100%;
  }
  .full-logo{
    padding-top: 1%;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .full-logo-img{
    max-width: 100%;
    padding-top: 1%;
  }
  #logo-header{
    margin-left: 0px;
    font-size: 48px;
  }
  .social-media{
    margin-top: 30px;
  }
  .control{
    margin: 440px auto auto 40%;
  }
  .footer-page{
    bottom: -55%;
  }
}

@media screen and (max-width: 640px){
  /* html, body{
    height: 100vh;
    min-height: 100vh;
  } */
  .full-logo-img{
    max-width: 280px;
    width: 280px;
    padding-top: 5%;
  }
  #logo-header{
    font-size: 2em;
    margin-top: 20px;
    margin-left: 0;
  }
  .social-media{
    margin-top: 20px;
    margin-left: 0px;
  }
}

/*////////////// End of Adaptive version /////////////*/



