.menu-all{
    background-color: var(--header-fon);
    height: 80px;
    width: 100%;
}

.left-logo-img{
    padding-top: 10px;
    padding-left: 30px;
}

.left-logo-img:hover{
    filter: saturate(2);
}

.left-logo-href{
    position: relative;
}

.menu-left{
    float: left;
    padding-left: 95px;
    margin-right: -50px;
    margin-top: -55px; 
}

.content-pages{
    background-color: var(--light);
    min-height: 100vh;
}

.container-about{
    display: flex;
    margin-bottom: 6%;
}

.lng-about, .lng-laulustuudio, .lng-kuulmistest, .lng-kontaktid, .lng-talking{ 
    color: var(--black-gold);
    font-family: "Playfair Display", serif;
    font-size: 40px;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 70px;
}

 .pattern-frame{
    float: left;
    width: 64%;
    margin-right: -55%;
    position: relative;
    z-index: 1;
    margin-top: -6.5%;
} 
.image-stack{
    margin-top: 5%;
    margin-left: 12%;
    max-width: 660px;
    min-width: 660px;
    width: 660px;
}
.image-stack::after{
    content: ' ';
    display: table;
    clear: both;
}

.portrait-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    grid-column: 1;
    grid-row: 1;
}

.tere{
    display: flex;
    flex-direction: column;
    font-family: "Playfair Display", serif;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    text-align: left;
    margin-top: 13%;
    margin-left: -9%;
}

.tere p{
    padding-top: 20px;
}

.tere img{
    max-width: 100px;
    padding-top: 20px;
}

h3{
    font-family: "Playfair Display", serif;
    font-size: 24px;
    font-style: italic;
    font-weight: bold;
    color: var(--black-gold);
}

.endast{
    position: relative;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 4%;
    padding-left: 17%;
    padding-right: 17%;
    padding-bottom: 6.5%;
    z-index: 10;
}

.endast p{
    font-family: "Playfair Display", serif;
    font-size: 14px;
    font-style: italic;
    padding-top: 6.4%;
}

.container-samuti{
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: -260px;
    min-height: 800px;  
}  

.samuti{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 17%;
    max-width: 50%;
    width: 50%;
}

.samuti p{
    font-family: "Playfair Display", serif;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    padding-top: 4%;
    position: relative;
    z-index: 1;
}

.musical-pattern{
    position: absolute;
    max-width: 70%;
    margin-top: 8vh;
    margin-left: 33%;
}

.final-pattern{
    display: flex;
    width: 100%;
    margin-top: -17.5%;
    background-color: var(--light);
}

.final-pattern img{
    position: relative;
    z-index: 2;
    width: 20%;
    height: 300px;
    margin: 0 auto 60px auto;
    overflow: hidden;
}

/*////// Pages footer /////////*/

.footer-page{
    background-color: var(--header-fon);
    bottom: 0px !important;
    min-height: 150px;   
}

.footer-social-media-pages{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
}

.social-media-footer{
    display: flex;
    justify-content: center;
    -webkit-flex-direction: row;
    flex-direction: row;
    padding-bottom: 8px;
}

.icon{
    width: 36px;
    height: auto;
    margin: 4px;
  }
  
  .icon-telegram{
    width: 38px;
    height: auto;
    margin: 1px -2px 4px 4px;
  }

.footer-page{
    position: fixed;
    display: flex;
    width: 100%;
    min-width: 100%;
    bottom: 38px;
    top:auto;
    z-index: 1000;
  }
  
    .telephone{
      width: 100%;
      min-width: 100%;
      color: #ffffff;
      font-family: "Playfair Display", serif;
      font-style: italic;
      font-weight: normal;
      font-variant-numeric: oldstyle-nums;
      font-size: 14px;
      letter-spacing: 0.5px;
      text-align: center;
    }
   
  /*////// End of pages footer /////////*/

  /*////////////// Singing-studio /////////////*/

  .card-header-1, .card-header-2{
    position: relative;
    z-index: 2;
    margin: 12% auto 2% 16%;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-style: italic;
  }

  .card-header-2{
    margin-top: 7.5%;
    margin-bottom: 4%;
  }

  .card-background{
    position: absolute;
    z-index: 0;
    min-width: 80%;
    max-width: 80%;
    width: 80%;
    height: auto;
    margin-left: 9%;
    margin-top: 65px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
  }

  .container-flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: 100%;
  }

  .container-card{
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: 100%;
  }

  .card{
    display: flex;
    flex-direction: column;
    width: 24%;
    min-width: 24%;
    padding: 8% 1.6% 5% 1.6%;
  }

  .card-text{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: italic;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  .info{
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-style: italic;
    margin-top: 12%;
    margin-left: 16%;
  }

  .final-pattern-studio{
    display: flex;
    width: 100%;
    margin-top: 0%;
    background-color: var(--light);
}

.final-pattern-studio img{
    position: relative;
    z-index: 2;
    width: 20%;
    height: 300px;
    margin: 0 auto 60px auto;
    overflow: hidden;
}

   /*////////////// End of singing-studio /////////////*/

   /*////////////// Reviews /////////////*/

   .container-reviews{
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 67%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 8.5%;
        background-color: #ffffff;
        border-radius: 2%;
        min-height: auto;
        height: auto;
   }

   .reviews-card{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 6.5%;
        margin-bottom: 5.5%;
    }

    .reviews-img{
        border-radius: 6%;
        height: auto;
        width: 37%;
        min-width: 37%;
        margin-left: 10%;
        margin-right: auto;
    }

    .reviews-img-revers{
        border-radius: 6%;
        height: auto;
        width: 37%;
        min-width: 37%;
        margin-left: auto;
        margin-right: 10%;
    }

    .reviews-text{
        width: 29%;
        min-width: 29%;
        margin-left: auto;
        margin-right: 10%;
        margin-top: 4%;
        font-family: "Playfair Display", serif;
        font-style: italic;
        font-size: 12px;
        line-height: 1.6;
    }

    
    .reviews-text-revers{
        width: 29%;
        min-width: 29%;
        margin-left: 10%;
        margin-right: auto;
        margin-top: 6%;
        font-family: "Playfair Display", serif;
        font-style: italic;
        font-size: 12px;
        line-height: 1.6;
    }

    .lng-milana, .lng-katrin, .lng-olga{
        display: flex;
        font-weight: bold;
        align-items: end;
        justify-content: flex-end;
        margin-top: 10%;
    }

    .musical-pattern-reviews{
        position: absolute;
        z-index: 0;
        max-width: 38%;
        margin-top: -30vh;
        margin-left: 58%;
        transform: rotate(15deg);
    }

    .final-pattern-reviews{
        display: flex;
        width: 100%;
        padding-top: 2%;
        padding-bottom: 10%;
        background-color: var(--light);
    }
    
    .final-pattern-reviews img{
        position: relative;
        z-index: 2;
        width: 22%;
        min-height: 300px;
        height: auto;
        margin: 0 auto 60px auto;
        overflow: hidden;
    }

  /*////////////// End of reviews /////////////*/

  /*////////////// Contact /////////////*/



  /*////////////// End of contact /////////////*/
   
  /*////////////// Adaptive version /////////////*/

  @media screen and (max-width: 1200px) {
    .tere{
        max-width: 300px !important;
    }
  }

  @media screen and (max-width: 1000px){
    .container-about{
        flex-direction: column;
    }
    .portrait-img{
        display: flex;
        position: absolute;
        margin-left: 50px;
        margin-top: 8px;
    }
    .portrait-img img{
        max-width: 260px;
        min-width: 260px;
        width: 260px;
    }
    .pattern-frame{
        width: 100%;
        position: relative;
        z-index: 1;
        margin-top: -6.5%;
    } 
    .image-stack{
        margin-top: 5%;
        margin-left: auto;
        margin-right: auto;
        max-width: 360px;
        min-width: 360px;
        width: 360px;
    }
    .image-stack::after{
        content: ' ';
        display: table;
        clear: both;
    }
    .tere{
        max-width: 100% !important;
        width: 100% !important;
        margin-right: auto;
        margin-left: auto;
        padding-left: 17%;
    }
    .container-samuti{
        min-height: 90vh;
        margin-top: -30vh;
    }
  }
  @media screen and (max-width: 800px){
    .container-samuti{
        min-height: 68vh;
        margin-top: -26vh;
    }
    .tere{
        padding-right: 17%;
    }
  }

  @media screen and (max-width: 640px){
    .container-samuti{
        min-height: 20vh;
        margin-top: 0;
    }
    .samuti{
        padding-right: 17%;
        max-width: 100%;
        width: 100%;
    }
    .musical-pattern{
        display: none;
    }
  }

  /*////////////// End of Adaptive version /////////////*/

