.menu-all{
    background-color: var(--header-fon);
    height: 80px;
    width: 100%;
}

.left-logo-img{
    padding-top: 10px;
    padding-left: 30px;
}

.left-logo-img:hover{
    filter: saturate(2);
}

.left-logo-href{
    position: relative;
}

.menu-left{
    float: left;
    padding-left: 95px;
    margin-right: -50px;
    margin-top: -55px; 
}

.content-pages{
    background-color: var(--light);
    min-height: 100vh;
}

.container-about{
    display: flex;
    margin-bottom: 6%;
}

.lng-about, .lng-laulustuudio, .lng-kuulmistest, .lng-kontaktid, .lng-talking{ 
    color: var(--black-gold);
    font-family: "Playfair Display", serif;
    font-size: 40px;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 70px;
}

 .pattern-frame{
    float: left;
    width: 64%;
    margin-right: -55%;
    position: relative;
    z-index: 1;
    margin-top: -6.5%;
} 
.image-stack{
    margin-top: 5%;
    margin-left: 12%;
    max-width: 660px;
    min-width: 660px;
    width: 660px;
}
.image-stack::after{
    content: ' ';
    display: table;
    clear: both;
}

.portrait-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    grid-column: 1;
    grid-row: 1;
}

.tere{
    display: flex;
    flex-direction: column;
    font-family: "Playfair Display", serif;
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    text-align: left;
    margin-top: 10%;
    margin-left: -9%;
}

.tere p{
    padding-top: 20px;
}

.tere img{
    max-width: 100px;
    padding-top: 50px;
}

h3{
    font-family: "Playfair Display", serif;
    font-size: 24px;
    font-style: italic;
    font-weight: bold;
    color: var(--black-gold);
}

.endast{
    position: relative;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 4%;
    padding-left: 17%;
    padding-right: 17%;
    padding-bottom: 6.5%;
    z-index: 10;
}

.endast p{
    font-family: "Playfair Display", serif;
    font-size: 18px;
    font-style: italic;
    padding-top: 6.4%;
}

.container-samuti{
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: -260px;
    min-height: 800px;  
}  

.samuti{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 17%;
    max-width: 50%;
    width: 50%;
}

.samuti p{
    font-family: "Playfair Display", serif;
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    padding-top: 4%;
    position: relative;
    z-index: 1;
}

.musical-pattern{
    position: absolute;
    max-width: 70%;
    margin-top: 3vh;
    margin-left: 33%;
}

.final-pattern{
    display: flex;
    width: 100%;
    margin-top: -17.5%;
    background-color: var(--light);
}

.final-pattern img{
    position: relative;
    z-index: 2;
    width: 20%;
    height: 300px;
    margin: 0 auto 60px auto;
    overflow: hidden;
}
/*////// Animation ////////*/

@keyframes show{
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }

  .aaa{opacity: 0;
  transition: 2s;
  animation: show 9s 1;
  animation-fill-mode: forwards;
  animation-delay: 1.5s;
  }
/*////// Pages footer /////////*/

.footer-page{
    background-color: var(--header-fon);
    min-height: 150px;   
    position: absolute;
    margin: auto 0 0 0;
    display: flex;
    width: 100%;
    min-width: 100%;
    /* bottom: 38px; */
    bottom: 0px !important;
    top:auto;
    z-index: 1000;
}

.footer-social-media-pages{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
}

.social-media-footer{
    display: flex;
    justify-content: center;
    -webkit-flex-direction: row;
    flex-direction: row;
    padding-bottom: 8px;
}

.icon{
    width: 36px;
    height: auto;
    margin: 4px;
  }
  
  .icon-telegram{
    width: 38px;
    height: auto;
    margin: 1px -2px 4px 4px;
  }

/* .footer-page{
    position: absolute;
    margin: auto 0 0 0;
    display: flex;
    width: 100%;
    min-width: 100%;
    bottom: 0px !important;
    top:auto;
    z-index: 1000;
  } */
  
.telephone{
    width: 100%;
    min-width: 100%;
    color: #ffffff;
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-weight: normal;
    font-variant-numeric: oldstyle-nums;
    font-size: 14px;
    letter-spacing: 0.5px;
    text-align: center;
    text-decoration: none;
}
   
  /*////// End of pages footer /////////*/

  /*////////////// Singing-studio /////////////*/

  .card-header-1, .card-header-2{
    position: relative;
    z-index: 2;
    margin: 12% auto 2% 16%;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-style: italic;
  }

  .card-header-2{
    margin-top: 3.5%;
    margin-bottom: 4%;
  }

  .card-background{
    position: absolute;
    z-index: 0;
    min-width: 82%;
    max-width: 82%;
    width: 82%;
    height: auto;
    margin-left: 9%;
    margin-top: 70px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
  }

  .container-flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: 100%;
  }

  .container-card{
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: 100%;
  }

  .card{
    display: flex;
    flex-direction: column;
    width: 24%;
    min-width: 24%;
    padding: 8% 1.6% 5% 1.6%;
  }

  .card-text{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: italic;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
  }

  .info{
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-style: italic;
    margin-top: 12%;
    margin-left: 16%;
  }

  .final-pattern-studio{
    display: flex;
    width: 100%;
    margin-top: 0%;
    background-color: var(--light);
}

.final-pattern-studio img{
    position: relative;
    z-index: 2;
    width: 20%;
    height: 300px;
    margin: 0 auto 60px auto;
    overflow: hidden;
}

   /*////////////// End of singing-studio /////////////*/

   /*////////////// Reviews /////////////*/

    .container-reviews{
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 67%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 8.5%;
        background-color: #ffffff;
        border-radius: 2%;
        min-height: auto;
        height: auto;
    }
   .additional{
        display: none;
    }
   .reviews-card{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 6.5%;
        margin-bottom: 5.5%;
    }
    .reviews-img{
        border-radius: 6%;
        height: auto;
        width: 37%;
        min-width: 37%;
        margin-left: 10%;
        margin-right: auto;
    }
    .reviews-img-revers{
        border-radius: 6%;
        height: auto;
        width: 37%;
        min-width: 37%;
        margin-left: auto;
        margin-right: 10%;
    }
    .reviews-text{
        width: 29%;
        min-width: 29%;
        margin-left: auto;
        margin-right: 10%;
        margin-top: 4%;
        font-family: "Playfair Display", serif;
        font-style: italic;
        font-size: 12px;
        line-height: 1.6;
    }   
    .reviews-text-revers{
        width: 29%;
        min-width: 29%;
        margin-left: 10%;
        margin-right: auto;
        margin-top: 6%;
        font-family: "Playfair Display", serif;
        font-style: italic;
        font-size: 12px;
        line-height: 1.6;
    }
    .lng-milana, .lng-katrin, .lng-olga{
        display: flex;
        font-weight: bold;
        align-items: end;
        justify-content: flex-end;
        margin-top: 10%;
    }

    .musical-pattern-reviews{
        position: absolute;
        z-index: 0;
        max-width: 38%;
        margin-top: -30vh;
        margin-left: 58%;
        transform: rotate(15deg);
    }
    .final-pattern-reviews{
        display: flex;
        width: 100%;
        padding-top: 2%;
        padding-bottom: 10%;
        background-color: var(--light);
    }    
    .final-pattern-reviews img{
        position: relative;
        z-index: 2;
        width: 22%;
        min-height: 300px;
        height: auto;
        margin: 0 auto 60px auto;
        overflow: hidden;
    }

  /*////////////// End of reviews /////////////*/

  /*////////////// Contact /////////////*/
    .img-toompuestee{
        margin-top: 6.5%;
        margin-left: auto;
        margin-right: auto;
    }
    .message-button-box{
        display: flex;
        justify-content: center;
        min-height: 126px;
        margin-top: 6.5%;
    }

    .message-button-box a{
        text-decoration: none;
    }
    
    .lng-message{
        display: inline-flex;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        vertical-align: middle;
        width: 400px;
        height: 80px;
        font-family: "Playfair Display", serif;
        font-style: italic;
        font-weight: 600;
        font-size: 32px;
        line-height: 68px;
        text-align: center;
        color: var(--black-gold);
        /* border: solid 1px var(--black-gold); */
        border-radius: 15px;
        background-color: var(--dark);
        box-shadow: 2px 0px 26px 7px rgba(125,110,58,0.31) inset;
        -webkit-box-shadow: 2px 0px 16px 7px rgba(125,110,58,0.31) inset;
        -moz-box-shadow: 2px 0px 16px 7px rgba(125,110,58,0.31) inset;
    }
    .lng-message:hover, .lng-submit:hover,
    .lng-listen:hover{
        background-color: var(--black-gold);
        color: var(--gold);
    }
    .address{
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        min-height: 200px;
        height: 200px;
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        font-weight: 700;
        line-height: 25px;
        margin-bottom: 235px;
    }
    .list-right{
        padding-left: 10px;
    }
    a[href^="tel:"]:not([class]), .list-right a{
        color: #000000;
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        font-weight: 700;
    }
    .list-right dt:hover, a[href^="tel:"]:not([class]):hover, .list-right a:hover{
        color: var(--good) !important;
    }
    .modal{
        position: absolute;
        border: 0;     
        min-width: 50%; 
        max-width: 700px;
        /* width: 700px; */
        width: 50%; 
        background-color: transparent;
        overflow: hidden;
        max-height: 900px;
        height: 900px;
        left: 20px;
        top: 110%;
        padding: .5em 1em;
    }
    .modal:before {
        content: " ";
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0,0,0,0.3);
        z-index: -1;
        top: 1%;
        left: 50%;
        transform: translate(-50%, -50%);   
      }
    .lng-submit,
    .lng-listen{
        /* display: inline-flex; */
        display: flex;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        vertical-align: middle;
        max-width: 400px;
        width: 80%;
        height: 80px;
        font-family: "Playfair Display", serif;
        font-style: italic;
        font-weight: 600;
        font-size: 32px;
        line-height: 68px;
        text-align: center;
        color: var(--black-gold);
        border: 0;
        border-radius: 15px;
        background-color: var(--dark);
        box-shadow: 2px 0px 16px 7px rgba(125,110,58,0.31) inset;
        -webkit-box-shadow: 2px 0px 16px 7px rgba(125,110,58,0.31) inset;
        -moz-box-shadow: 2px 0px 16px 7px rgba(125,110,58,0.31) inset;
        cursor: pointer;
    }
    .img-message{
        position: absolute;
        max-width: 700px;
        width: 110%;
        min-height: 100%;
        height: 100%;
        z-index: -1;
        margin-left: auto;
        margin-right: auto;
    }
    .lng-form{ 
        color: var(--black-gold);
        font-family: "Playfair Display", serif;
        font-size: 32px;
        font-style: italic;
        font-weight: bold;
        text-align: center;
        margin-top: 70px;
        margin-top: 20%;
        margin-bottom: 2%;
        max-width: 80%;
        
        margin-left: auto;
        margin-right: auto;
    }
    .message-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* width: 400px; */
        max-width: 400px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        
    }
    .message-box .input{
        background-color: var(--light);
        margin-top: 4%;
        margin-bottom: 4%;
        border-radius: 15px;
        border: 0;
        height: 60px;
        min-height: 60px;
        /* max-width: 400px;
        width: 400px; */
        /* max-width: 98%; */
        width: 98%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 10px;
    }
    .message-box .textarea{
        background-color: var(--light);
        margin-top: 4%;
        margin-bottom: 8%;
        border-radius: 15px;
        border: 0;
        min-height: 120px;
        /* max-width: 400px;
        width: 400px; */
        /* max-width: 98%; */
        width: 98%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 10px;
    }
    .lng-name, .lng-email{
        font-family: "Playfair Display", serif;
        font-style: italic;
        color: var(--black-gold);
        background-size: contain;
        background-repeat: no-repeat;
    }
    .lng-question{
        font-family: "Playfair Display", serif;
        font-style: italic;
        color: var(--black-gold);
        /* padding-top: 20px; */
      }
    textarea {
        padding-top: 20px; 
    }


  /*////////////// End of contact /////////////*/

  /*////////////// Start of game-test /////////////*/
    #paintbox{
        background: var(--light);
        width: 500px;
        min-height: 200px;
    }
    .start{
        color: red;
        min-width: 100px;
        margin-bottom: 400px;
        margin-top: auto;
    }
    .stop{
        color: red;
        min-width: 100px;
        margin-bottom: 400px;
        margin-top: auto;
    }

    .game-text {
        text-align: left;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-style: italic;
        max-width: 70%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 3%;
        margin-bottom: 3%;
      }
  
  /*////////////// End of game-test /////////////*/
   
  /*////////////// Adaptive version /////////////*/

  @media screen and (max-width: 1200px) {
    .tere{
        max-width: 300px !important;
    }
    .img-message{
        max-width: 90%;
    }
  }

  @media screen and (max-width: 1000px){
    .modal{   
        min-width: 70%; 
        top: 100%;  
    }
    .container-reviews{
        max-width: 90%;
    }
    .musical-pattern-reviews {
        margin-top: -15vh;
      }
    .container-about{
        flex-direction: column;
    }
    .portrait-img{
        display: flex;
        position: absolute;
        margin-left: 50px;
        margin-top: 8px;
    }
    .portrait-img img{
        max-width: 260px;
        min-width: 260px;
        width: 260px;
    }
    .pattern-frame{
        width: 100%;
        position: relative;
        z-index: 1;
        margin-top: -6.5%;
    } 
    .image-stack{
        margin-top: 5%;
        margin-left: auto;
        margin-right: auto;
        max-width: 360px;
        min-width: 360px;
        width: 360px;
    }
    .image-stack::after{
        content: ' ';
        display: table;
        clear: both;
    }
    .tere{
        max-width: 100% !important;
        width: 100% !important;
        margin-right: auto;
        margin-left: auto;
        padding-left: 17%;
    }
    .container-samuti{
        min-height: 90vh;
        margin-top: -30vh;
    }
    .card-header-1{
        margin-bottom: 0%;
      }
    .card-header-2{
        margin-top: 0%;
        margin-bottom: 0%;
      }
  }
  @media screen and (max-width: 800px){
    .modal{   
        min-width: 70%;   
    }
    .reviews-text {
        margin-top: 0%;
      }
    .reviews-text-revers {
        margin-top: 0%;
      }
    .card-background{
        display: none;
    }
    .container-samuti{
        min-height: 68vh;
        margin-top: -26vh;
    }
    .tere{
        padding-right: 17%;
    }
    .card-header-2{
        margin-bottom: -2%;
      }
    .card-header-1{
        margin-bottom: -2%;
        margin-top: 15%;
      }
      .info{
        max-width: 70%;
      }
  }

  @media screen and (max-width: 640px){
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    .lng-form {
        margin-top: 30%;
      }
    .modal{   
        min-width: 90%;   
        top: 40%;
        left: 6%;
        max-height: 850px;
        height: 850px;
    }
    .reviews-card {
        flex-direction: column;
      }
    .revers{
        flex-direction: column-reverse;
    }
    .reviews-text {
        width: 80%;
        min-width: 80%;
        margin-top: 4%;
    }
    .reviews-text-revers {
        width: 80%;
        min-width: 80%;
        margin-top: 4%;
    }
    .reviews-img {
        width: 80%;
        min-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .reviews-img-revers {
        width: 80%;
        min-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .musical-pattern-reviews {
        position: absolute;
        z-index: 0;
        max-width: 60%;
        margin-left: 40%;
        margin-top: -15vh;
    }
    .container-flex {
        overflow-y: hidden;
    }
    .additional{
        display: flex;
    }
    .slider {
        scroll-snap-type: x mandatory;	
        display: flex;
        -webkit-overflow-scrolling: touch;
        overflow-x: scroll;    
    }
    .section {
        padding: 3rem;
        min-width: 100%;
        height: auto;
        scroll-snap-align: start;
        position: relative;
    }
    .container-samuti{
        min-height: 20vh;
        margin-top: 0;
    }
    .samuti{
        padding-right: 17%;
        max-width: 100%;
        width: 100%;
    }
    .musical-pattern{
        display: none;
    }
  }

  /*////////////// End of Adaptive version /////////////*/

