.message-button-box{
    display: flex;
    justify-content: center;
    min-height: 126px;
    /* margin-bottom: 10%; */
    padding-bottom: 20%;
    margin-top: 3% !important;
}
  #canvas {
    display: flex;
    width: 70%;
    height: 150px !important;
    max-height: 150px !important;
    /* height: 25% !important;
    max-height: 25% !important; */
    border: 1px solid;
    margin-left:auto;
    margin-right:auto;   
    background: var(--header-fon);
    border-radius: 15px;
    margin-bottom: 2%;
  } 
  audio {
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: calc(100% - 20px);
    visibility: hidden;
  }
  .modal-game-test{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    border: 0; 
    border-radius: 15px;    
    min-width: 60%; 
    max-width: 800px;
    width: 60%; 
    background-color: transparent;
    overflow: hidden;
    top: -10%;
    cursor: pointer;
    visibility: hidden;
    transform: scale(0.1);
    transition: transform 200ms;
}
@media screen and (max-width: 1100px){
  .modal-game-test{
    width: 60%; 
  }
}
@media screen and (max-width: 640px){
  .modal-game-test{
    width: 80%; 
    top: 2%;
  }
}
.modal-game-test.dialog-scale{
	background-color: transparent;
	visibility: visible;
	transform: scale(1);
}
.modal-game-test.dialog-scale::backdrop {
  background-color: rgba(0,0,0,0.3);
  cursor: pointer;
}
.modal-game-test-box{
    position: relative;
    z-index: 10;
    background: #ffffff !important;
    width: 100%;
    height: 600px;
    max-height: 600px;
    border-radius: 15px; 
    margin: 0;
    /* padding: .5em 1em; */
    padding: .1em 1em;
    cursor: default;
}
@media screen and (max-width: 600px){
  .modal-game-test-box{
    padding: 2em 1em; 
  }
}
  .game-modal-header{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    font-style: italic;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12%;
    margin-bottom: 6%;
    color: var(--black-gold);
  }

  ul{
    list-style-type: none;
    line-height: 2;
  }
  ul h6{
    display: inline;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style: italic; 
  }
  .checkbox-square{
    display:none;
  }
  .checkbox-square + label span{
    display:inline-block;
    width:25px;
    height:19px;
    /* width:35px;
    height:29px; */
    /* margin: 0 5px -4px 0;  */
    /*layout relationship between check and label*/
    margin: 0 10px -1px 0;
  }
  .checkbox-square:checked{
    background: var(--dark);
  }
  .checkbox-square + label span:before,
  .checkbox-square + label span:after{
    content: "";
    position: absolute;
    z-index: 1;
    /* width: 1.1rem;
    height: 1.1rem; */
    width: 1.5rem;
    height: 1.5rem;
    background: var(--dark);
    border: 1px solid var(--black-gold); 
    border-radius: 5px;
  }
  .checkbox-square:checked + label span:after {
    content: "\2713";
    font-size: 22px;
    font-weight: 800;
    line-height: 1;
    padding-left: 0.1rem;
    
    /* padding-bottom: 1rem; */
    color: var(--black-gold);
  }
  .repeat{
    color: var(--ok);
    text-decoration: underline;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-style: italic;
    padding-left: 2.5rem;
    margin-bottom: 8%;
    cursor: pointer;
  }
  .modal-game-test-box > .modal-game-test > .repeat:hover{
    color: #000000;
  }
  .modal-game-test.modal-game-test-box.repeat:hover{
    color: #000000;
  }
  .repeat:hover{
    color: #000000 !important;
    filter: invert(10%);
  }
  .close-x{
    position: relative;
    z-index: 1000;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 22px;
    position: absolute;
    top: 20px;
    right: 30px;
  }
  .close-x:hover{
    color: #418A40 !important;
  }
  h6:hover{
    color: var(--green) !important;
  }
  .modal-game-test:hover{
    color: #418A40  !important;
  }
  .add{
    text-align: center;
    position: relative;
    display: none;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-weight: bold;
    font-size: 32px;
  }
  #add4{
    max-width: 60%;
  }
  .visible{
    display: flex;
  }
  .green-text, .blue-text, .black-text, .red-text{
    text-align: center;
  }
  .green-text{
    color: var(--ok);
  }
  .blue-text{
    color: var(--good);
  }
  .black-text{
    color: #000000;
  }
  .red-text{
    color: var(--error);
  }

